<!doctype html>
<html lang="en">
<head>
    <script>
        {% comment %} window.location = "/shop"; {% endcomment %}
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="icon" href="../static/images/logo.ico" >
    

    <title>Welcome to BloomsNBlossoms!</title>
</head>

<body style= "overflow-y: hidden;">
    <div class="jumbotron"  style="  background: url( ../media/logo.jpg) center; background-repeat: no-repeat;background-position: relative;
    background-attachment: fixed; backdrop-filter: blur(5px); ">
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5); backdrop-filter: blur(2px); z-index: -1;"></div>
        <h1 class="display-4">  <b>Welcome to <i> BloomsNBlosooms. </i></h1></b>
        <hr class="my-4"> 
        <p class="lead" style= "font-size:18px ; font-weight:500">
            Welcome to BloomsNBlosooms, your one-stop-shop for all your Gifting needs.
            <br><br>At BloomsNBlossoms, we believe in the beauty of nature and the joy it brings to our lives. Our passion is to curate a collection of exquisite flowers and plants that reflect the elegance and grace found in the natural world.
           <h4> Explore Nature's Elegance</h4>  
           <p  style= "font-size:18px ; font-weight:490; margin-left:20px"> We take pride in sourcing the finest flowers and plants, ensuring that each arrangement is a masterpiece of freshness and longevity. Our commitment to quality means you can trust BloomsNBlossoms to deliver beauty that lasts.</p>
           <h4> Quality You Can Trust</h4>
           <p style= "font-size:18px ; font-weight:490; margin-left:20px"> Immerse yourself in a world of botanical wonders. From vibrant bouquets that express your emotions to lush greenery that breathes life into your space, our carefully curated selection is designed to enhance every moment.</p>
           <h4>Personalized Floral Experiences </h4>
           <p style= "font-size:18px ; font-weight:490; margin-left:20px"> Whether you're celebrating a special occasion or simply want to brighten someone's day, our team is here to help you create the perfect floral experience. Explore our wide range of options and discover the art of gifting with BloomsNBlossoms. </p>
        
            <br><i style= "font-size:18px ; font-weight:500" >Explore, experience, and embrace the beauty of BloomsNBlossoms.
        </i></p>
       <hr class="my-4"> 
        <center>
            <a class="btn btn-primary btn-lg mx-2" href="/shop" style="background-image: linear-gradient(120deg, #4CAF50 0%, #45a049 100%); color: #fff; border-radius: 5px; border: none; font-weight: 600;" role="button">Go to Shop</a>
            <a class="btn btn-primary btn-lg mx-2" href="/blog" style="background-image: linear-gradient(120deg, #4CAF50 0%, #45a049 100%); color: #fff; border-radius: 5px; border: none; font-weight: 600;" role="button">Go to Blog</a>

           
            
        </center>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>
