{% extends 'shop/basic.html' %}

{% block title %} {{ product.product_name }} {% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{ product.image }}" width="350px" height="410px">
            </div>
            <div class="container row mt-5 d-flex flex-column justify-content-center " style = "">
               
                <button id="shareButton" class="btn btn-lg btn-primary py-3" href = "/shop/checkout">Share</button>
                <br>
                
                    
              
            </div>
        </div>
        <div class="col-md-8">
            <h3><b>{{ product.product_name }}</b></h3>
            <h5><b>Price :  {{ product.price }} rs</b></h5> 
            <p  >  <b>  Description <br>  </b> {{ product.description }}</p> <br>
            <p><b>  Delivery Information </b>  <br>   {{ product.Delivery_Information }}</p> <br>
            <p> <b> Product Care </b>  <br> {{ product.Product_Care }}</p> <br>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    document.getElementById('shareButton').addEventListener('click', function() {
        // Get the current URL
        var urlToCopy = window.location.href;

        // Create a temporary input element
        var input = document.createElement('input');
        input.setAttribute('value', urlToCopy);
        document.body.appendChild(input);

        // Select the text inside the input element
        input.select();
        input.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text to the clipboard
        document.execCommand('copy');

        // Remove the temporary input element
        document.body.removeChild(input);

        // Optionally, you can provide feedback to the user
        alert('URL copied to clipboard: ' + urlToCopy);
    });
    
</script>
{% endblock %}