{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><b>Thanks a lot for your feedback!</b></h1>
              <pre><i>We're glad to hear from you. It is appreciable that you took your precious time to give us a feedback.
                  We're constantly working on making BloomsNBlossoms the best Gifting Ecommerce website of all time! Keep shopping :)</i></pre>
          <p><a class="btn btn-dark btn-lg" href="/shop" role="button">&laquo; Go back to website</a></p>
        </div>
    </div>

    <footer class="bg-light text-dark py-4">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  
                  <p style="font-size: 18px;">Copyright © 2023 BloomsNBlossoms</p>
              </div>
          </div>
      </div>
  </footer>
</footer>
{% endblock %}